<%= render partial: 'application/alerts' %>

<div class="workout-show">
<br>
<h3>Title:&nbsp;</h3>
<h2><em><%= @workout.title %></em></h2><br>
<h3>Estimated Time:&nbsp;</h3>
<h2><em><%= @workout.time %></em></h2><br>
</div>

<ol>
  <% @workout.exercises.each do |exercise| %>
     <li><%= link_to exercise.name, exercise %><br>
     <%= exercise.sets %> sets, <%= exercise.reps %> reps<br>
     <%= form_tag(exercise_workout_path(exercise), method: :delete) do %>
     <%= hidden_field_tag :workout_id, @workout.id %>
     <%= submit_tag "Delete" %>
     <% end %></li>
  <% end %>
</ol>

<ul class="comments">
</ul>

<% if current_user.id == @workout.user_id %>
  <%= link_to "Add Exercise", exercises_path %><br>
  <%= link_to "Edit Workout", edit_workout_path(@workout) %><br>
  <%= link_to "Remove Workout", workout_path(@workout), method: :delete %><br><br>
<% end %>
<%= link_to "Add a Comment", new_workout_comment_path(@workout) %><br>
<%= link_to "Back to all workouts", workouts_path %><br>
<%= link_to "Load Comments", workout_comments_path(@workout), :class => "load_comments" %><br>
