<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@comment.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@workout, @comment] do |f| %>
<%= f.label :content %>
<%= f.text_area :content %><br><br>
<%= f.submit "Submit" %>
<% end %>
  
