<!DOCTYPE html>
<html>
  <head>
    <title>Swole</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<div id="navbar">
<ul>
  <li><a href= "/workouts/home">Home</a></li>
  <li><a href="/workouts">Workouts</a></li>
  <li><a href="/exercises" class="all_exercises">Exercises</a></li>
  <li><a href="/categories">Categories</a></li>
  <% if user_signed_in? %>
  <li style="float:right"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
</div>

    <%= yield %>
  </body>
</html>
